@use "variables" as v;
@use "colors" as c;

$containerGridGap: 2rem;

.container {
  margin: 0 auto;
  width: min(90%, 65em);
  padding: v.$paddingSmall;
}

.containerGrid {
  display: flex;
  flex-wrap: wrap;

  gap: $containerGridGap;
  .sliderItem {
    flex: 1 1 20%;

    padding: 3rem 0;
  }
}

// .wrapper
.containerGrid > * {
  flex: 1 1 100%;
  box-sizing: border-box;
}

.wrapperFullwidth {
  h2 {
    text-align: center;
  }
}

.callToAktionismus {
  .containerGrid {
    padding: 5rem;
    h2 {
      margin: 0;
    }
  }
}

// 768px
@media (min-width: 48em) {
  .logoWrapper {
    img {
      width: 50%;
    }
  }
  .container {
    padding: v.$paddingSmall;
  }

  // .wrapper
  .containerGrid > * {
    flex: 1 1 50%;
  }
  .wrapperFullwidth {
    flex: 1 1 100%;
  }
}
// 1024px75em
@media (min-width: 64em) {
  .container {
    padding: v.$paddingMedium;
  }

  .containerGrid > * {
    // outline: solid thin yellow;
    flex: 1 1 33%;
  }

  .twoOfThree_lg {
    flex: 2 2 calc(50% + $containerGridGap);
  }
  .wrapperFullwidth {
    flex: 1 1 100%;
  }
}

// .container{   margin-inline: auto;   width: min(90%, 75em);
// 1200px
@media (min-width: 75em) {
  .container {
    padding: v.$paddingBig;
  }
  .containerGrid > * {
    // outline: solid thin blue;
    flex: 1 1 25%;
  }

  .wrapperFullwidth {
    flex: 1 1 100%;
  }
}

.floatImageLeft {
  // float: left;
}
