@use "variables" as v;

$mainOrange: hsl(38, 100%, 54%);
$mainDark: hsl(222, 9%, 14%);
$mainlightGray: hsl(199, 8%, 92%);
$mainWhite: hsl(0, 0%, 100%);

.darkBG {
  background: transparent url("../img/papyrus-dark.png") center center;
  color: $mainlightGray;
}

.lightBG {
  background: transparent url("../img/pattern-2.png") center center;
  background-color: $mainDark;
}

.parallaxBG {
  background: transparent url("../img/image-1.jpg") center center;
  background-attachment: fixed;
  .container {
    // padding-bottom: 0;
  }
}
