@use "variables" as v;
@use "colors" as c;
// @import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;900&display=swap");
@import "flaticon";

@font-face {
  font-family: "teko-medium";
  src: url("../fonts/Teko/Teko-Regular.ttf");
}
@font-face {
  font-family: "teko-bold";
  font-weight: 700;
  src: url("https://fonts.gstatic.com/s/teko/v10/LYjNdG7kmE0gfaN9pQlCpVo.woff2");
}

@font-face {
  font-family: "rubik-light";
  src: url("../fonts/Rubik/static/Rubik-Light.ttf");
}

@font-face {
  font-family: "rubik";
  src: url("../fonts/Rubik/Rubik-VariableFont_wght.ttf");
}

// $primaryFont-400: "teko-medium";
// $primaryFont-600: "teko-bold";
// $secondaryFont-400: "rubik-medium";
// $secondaryFont-600: "rubik";

h1,
h2,
h3,
h4,
h5 {
  font-family: "teko-medium";
  text-transform: uppercase;
  margin: 0;
  font-weight: 700;
}
body {
  font-family: "rubik", sans-serif;
  font-size: 1.1rem;
  line-height: 1.95rem;
  color: c.$mainDark;
}

p {
  font-family: "rubik", sans-serif;
  margin: 0 0 1rem 0;
}

.textAccent {
  text-transform: uppercase;
  font-family: "teko-medium";
  color: c.$mainOrange;
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.titleWrapper {
  color: c.$mainWhite;
  .pretitle {
    text-transform: uppercase;
    margin-bottom: 1rem;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    font-family: "teko-medium";
  }
}

h1 {
  font-size: 8.75rem;
  line-height: 0.9rem;
  text-transform: uppercase;
  font-family: "teko-bold";

  font-weight: 700;
}

h2 {
  font-size: 4.2rem;
  line-height: 100%;
  // line-height: 0.9em;
  text-transform: uppercase;
  font-family: "teko-bold";
  font-weight: 700;
  margin-bottom: 2rem;
}

h2::after {
  content: ".";
  color: c.$mainOrange;
}

// [class^="flaticon-"],
// [class*=" flaticon-"] {
//   font-family: "Flaticon" !important;
//   speak: never;
//   font-style: normal;
//   font-weight: normal;
//   font-variant: normal;
//   text-transform: none;
//   line-height: 1;
//   -webkit-font-smoothing: antialiased;
//   -moz-osx-font-smoothing: grayscale;
// }

.flaticon-responsive::before {
  content: "\f1a1";
}
